body {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}

.page {
    display: inherit;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.alcohols {
    display: inherit;
    flex-direction: row;
}

a {
    margin-right: 10px;
    text-transform: uppercase;
}

.menu {
    display: inherit;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.name {
    width: 75%;
    margin: 10px 5px 10px 0;
}

.coctail-name-span {
    font-size: 25px;
}

.alcoholic-span {
    font-size: 15px;
}

.contain-p {
    font-size: 20px;
}

.price {
    width: 25%;
    margin: 10px 0;
}

li {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: #eee;
}

.dark {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: #ddd;
}

.menu-header {
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
}

