.container {
    display: flex;
    flex-flow: column;
    height: 400px;
}

.item {
    width: 300px;
    height: 100px;
    flex-basis: 100px;
}

.green {
    background-color: #51d400;
    flex-grow: 0;
    order: 1;
}

.yellow {
    background-color: #ffd62a;
    flex-grow: 2;
    order: 3;
}

.purple {
    background-color: #b02aff;
    flex-grow: 0;
    order: 2;
}