body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin: 0;
}

form {
    display: inherit;
    box-sizing: border-box;
    flex-direction: column;
    background: white;
    flex: 0 0 40%;
    min-width: 300px;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1, label {
    text-transform: uppercase;
    font-weight: 100;
    color: #777;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 12px;
    text-align: right;
    margin-left: auto;
}