<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coctails</title>
</head>
<body>
    <h1>Coctails</h1>
    <ul>
        <% alcoholList.forEach(function(item){ %>
        <li><%= item %></li>
        <% }); %>
    </ul>
    <ul>
        <% cocktails.forEach(function(item){ %>
        <li><%= item.name %></li>
        <% }); %>
    </ul>
    <p>Selected alcohol: <%= alcohol%></p>
</body>
</html>