<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coctails</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class='page'>
        <h1>Coctails</h1>
        <div class='alcohols'>
            <a>All</a>
            <% alcoholList.forEach(function(item){ %>
            <a><%= item %></a>
            <% }); %>
        </div>
        <div class='menu'>
            <div class='list name'>
                <ul>
                    <li class='menu-header'>Name</li>
                    <% cocktails.forEach(function(item){ %>
                    <li><%= item.name %></li>
                    <% }); %>
                </ul>
            </div>
            <div class='list price'>
                    <ul>
                        <li class='menu-header'>Price</li>
                        <% cocktails.forEach(function(item){ %>
                        <li><strong><%= item.price %></strong> Ft</li>
                        <% }); %>
                    </ul>
                </div>
        </div>
        <p>Selected alcohol: <%= alcohol%></p>
    </div> 
</body>
</html>